@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}
nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  height: 7vh;
  background-color: black;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 10px;
}
.brand img {
  width: 3vw;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: 800;
}
.container {
  min-height: 68vh;
  width: 70%;
  background-color: black;
  margin: 2vh auto;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  display: flex;
  border-radius: 12px;
  padding: 34px;
  background-image: url("./bg.jpg");
  background-size: cover; 
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: calc(100vh - ".container" - "nav"-1vh);
  margin: 0;
  color: white;
  background-color: black;
  flex-direction: column;
}
.icons {
    margin-top: 1vh;
  margin: 15px 0px;
}
.icons i {
  cursor: pointer;
}
#myprogressbar {
  min-width: 80vw;
  max-height: 3px;
  cursor: pointer;
}
.songList{
    max-height: calc(".container");
}
.songItem{
    display: flex;
    height : 5vh;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0px;
}
.songItem img{
    height: inherit;
}
.songinfo{
    position: absolute;
    left: 10vw;
    margin-top: 22px;
    opacity: 0;
    transition: opacity  0.5s ease-in;
}
